.navbar-personalizado {
    background-color: blue;
}

.navbar-personalizado .nav-link-personalizado {
    color: white;
}

.navbar-personalizado .nav-link-personalizado:hover {
    color: white;
    background-color: darkblue;
}



.book img {
    width: 100%;
    height: auto;
}

#bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* Centra los elementos en la línea */
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 23%; /* Ancho fijo para los libros */
    margin: 1%; /* Pequeño margen para dar espacio entre los libros */
    position: relative; /* Esto permite posicionar el botón en relación a este div */
}

.add-to-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.shopping-cart {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
    font-size: 2em; /* Ajusta el tamaño del símbolo del carro de compras */
    cursor: pointer;
}
.quantity-input {
    width: 50px; /* Ajusta el ancho del input */
    margin-right: auto; /* Empuja el input a la izquierda */
}