.navbar-personalizado {
    background-color: blue;
}

.navbar-personalizado .nav-link {
    color: white;
}

.navbar-personalizado .nav-link:hover {
    color: white;
    background-color: darkblue;
}